{"swagger":"2.0","info":{"title":"Challonge API v2.1 documentation","version":"2.1.0","description":"Before sending API requests, you'll need to authorize your Swagger session by clicking the Authorize button above.","termsOfService":"https://challonge.com/terms_of_service","contact":{"name":"Challonge Development Team","email":"helpdesk@challonge.com"},"license":{"name":"MIT"}},"host":"api.challonge.com","basePath":"/v2.1","schemes":["https"],"consumes":["application/vnd.api+json"],"produces":["application/json"],"securityDefinitions":{"api_key":{"in":"header","name":"Authorization","type":"apiKey"},"challonge_oauth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://api.challonge.com/oauth/authorize","tokenUrl":"https://api.challonge.com/oauth/token","appName":"Development Environment","grantType":"authorization_code","scopes":{"me":"Read details about the user","application:organizer":"Full access to the user's resources that are associated with your application","application:player":"Read the user's resources that are associated with your application, register them for tournaments, and report their scores","tournaments:read":"Read all of the user's tournaments","tournaments:write":"Create, update and delete any of the user's tournaments","matches:read":"Read matches associated with the user's tournaments","matches:write":"Update matches associated with the user's tournaments","attachments:read":"Read match attachments associated with the user's tournaments","attachments:write":"Create, update and delete match attachments associated with the user's tournaments","participants:read":"Read participants associated with the user's tournaments","participants:write":"Create, update and delete participants associated with the user's tournaments","communities:manage":"Read and manage communities that the user belongs to"}}},"paths":{"/tournaments.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"},{"in":"query","enum":["pending","in_progress","ended"],"name":"state","type":"string","format":"string","required":false,"description":"State of the Tournament"},{"in":"query","enum":["single_elimination","double_elimination","round_robin","swiss","free_for_all","time_trail","grand_prix"],"name":"type","type":"string","format":"string","required":false,"description":"Tournament Type (when group stage is enabled, this is for the final stage)"},{"in":"query","name":"created_after","type":"string","format":"date_time","required":false,"description":"Tournaments created after the date given. Format should be (mm/dd/yyyy)"},{"in":"query","name":"created_before","type":"string","format":"date_time","required":false,"description":"Tournaments created before the date given. Format should be (mm/dd/yyyy)"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"type":"array","items":{"$ref":"#/definitions/TournamentModel"}}}},"description":"Returns tournaments based on the api_key given","operationId":"findTournaments","tags":["Tournament"]},"post":{"security":[{"api_key":[]},{"challonge_oauth":[]},{"api_key":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"body","name":"data","required":true,"description":"Tournament to be created","schema":{"$ref":"#/definitions/TournamentInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"201":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Creates a tournament","operationId":"createTournament","tags":["Tournament"]}},"/tournaments/{tournament_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Gets a tournament","operationId":"showTournament","tags":["Tournament"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Tournament Details to be updated","schema":{"$ref":"#/definitions/TournamentInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Updates a tournament","operationId":"updateTournament","tags":["Tournament"]},"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"403":{"description":"403 Forbidden","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"204":{"description":"API Response when the tournament is deleted","schema":{}}},"description":"Deletes a tournament","operationId":"deleteTournament","tags":["Tournament"]}},"/tournaments/{tournament_id}/change_state.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Tournament's state change","schema":{"$ref":"#/definitions/TournamentStateInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Changes a tournament's state","operationId":"changeStateTournament","tags":["Tournament"]}},"/tournaments/{tournament_id}/matches.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"query","enum":["pending","open","complete"],"name":"state","type":"string","format":"string","required":false,"description":"State of the Matches"},{"in":"query","name":"participant_id","type":"string","format":"string","required":false,"description":"Filter matches by Participant Id"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Matches Response","schema":{"type":"array","items":{"$ref":"#/definitions/MatchModel"}}}},"description":"Returns matches based on the tournament ID given","operationId":"findMatches","tags":["Match"]}},"/tournaments/{tournament_id}/matches/{match_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Matches Response","schema":{"$ref":"#/definitions/MatchModel"}}},"description":"Returns a match based on the Match ID given","operationId":"showMatch","tags":["Match"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"in":"body","name":"data","required":true,"description":"Match to be Updated","schema":{"$ref":"#/definitions/MatchInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Matches Response","schema":{"$ref":"#/definitions/MatchModel"}}},"description":"Updates a match with scores","operationId":"updateMatch","tags":["Match"]}},"/tournaments/{tournament_id}/matches/{match_id}/change_state.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"in":"body","name":"data","required":true,"description":"Match's state change","schema":{"$ref":"#/definitions/MatchStateInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Match Response","schema":{"$ref":"#/definitions/MatchModel"}}},"description":"Changes a tournament's state","operationId":"changeStateTournament","tags":["Match"]}},"/tournaments/{tournament_id}/participants.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Returns participants based on the tournament ID given","operationId":"findParticipants","tags":["Participant"]},"post":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Participant to be created","schema":{"$ref":"#/definitions/ParticipantInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Creates a Participant","operationId":"createParticipant","tags":["Participant"]}},"/tournaments/{tournament_id}/participants/{participant_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramType":"path","type":"string","required":true,"name":"participant_id","description":"ID of the Participant"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"$ref":"#/definitions/ParticipantModel"}}},"description":"Show a Participant","operationId":"showParticipant","tags":["Participant"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramType":"path","type":"string","required":true,"name":"participant_id","description":"ID of the Participant"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"$ref":"#/definitions/ParticipantModel"}}},"description":"Updates a Participant","operationId":"updateParticipant","tags":["Participant"]},"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramType":"path","type":"string","required":true,"name":"participant_id","description":"ID of the Participant"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"API Response when the participant is deactivated","schema":{"$ref":"#/definitions/ParticipantModel"}},"204":{"description":"API Response when the participant is deleted","schema":{}}},"description":"Deletes a Participant","operationId":"deleteParticipant","tags":["Participant"]}},"/tournaments/{tournament_id}/participants/bulk_add.json":{"post":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Participants to be created","schema":{"$ref":"#/definitions/ParticipantBulkInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Bulk Creates a Participant","operationId":"bulkCreateParticipant","tags":["Participant"]}},"/tournaments/{tournament_id}/participants/clear.json":{"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"204":{"description":"API Response when the participants are deleted","schema":{}}},"description":"Clears all Participants","operationId":"clearAllParticipants","tags":["Participant"]}},"/tournaments/{tournament_id}/participants/randomize.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Randomizes the Participant Seeding","operationId":"randomizeParticipants","tags":["Participant"]}},"/tournaments/{tournament_id}/matches/{match_id}/attachments.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Match Attachment Response","schema":{"type":"array","items":{"$ref":"#/definitions/MatchAttachmentModel"}}}},"description":"Returns match attachments based on the api_key, Tournament ID and Match ID given","operationId":"findMatchAttachments","tags":["Match Attachment"]},"post":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"in":"body","name":"data","required":true,"description":"Match Attachment to be created","schema":{"$ref":"#/definitions/MatchAttachmentInput"}}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"201":{"description":"Match Attachment Response","schema":{"$ref":"#/definitions/MatchAttachmentModel"}}},"description":"Creates a Match Attachment","operationId":"createMatchAttachments","tags":["Match Attachment"]}},"/tournaments/{tournament_id}/matches/{match_id/attachments/{attachment_id}.json":{"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"paramType":"path","type":"string","required":true,"name":"attachment_id","description":"ID of the Match Attachment"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"204":{"description":"API Response when the match attachment is deleted","schema":{}}},"description":"Deletes a Match Attachment","operationId":"deleteMatchAttachment","tags":["Match Attachment"]}},"/races.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Race Response","schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/RacingOutput"}}}}}},"description":"","operationId":"findRaces","tags":["Race"]},"post":{"security":[{"api_key":[]},{"challonge_oauth":[]},{"api_key":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"body","name":"data","required":true,"description":"Race to be created","schema":{"$ref":"#/definitions/RacingInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"201":{"description":"Race Response","schema":{"properties":{"data":{"$ref":"#/definitions/RacingOutput"}}}}},"description":"","operationId":"createRace","tags":["Race"]}},"/races/{race_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Race Response","schema":{"properties":{"data":{"$ref":"#/definitions/RacingOutput"}}}}},"description":"Gets a Race","operationId":"showRace","tags":["Race"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"},{"in":"body","name":"data","required":true,"description":"Race Details to be updated","schema":{"$ref":"#/definitions/RacingInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Race Response","schema":{"properties":{"data":{"$ref":"#/definitions/RacingOutput"}}}}},"description":"Updates a Race","operationId":"updateRace","tags":["Race"]},"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"403":{"description":"403 Forbidden","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"204":{"description":"API Response when the race is deleted","schema":{}}},"description":"Deletes a Race","operationId":"deleteRace","tags":["Race"]}},"/races/{race_id}/change_state.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"},{"in":"body","name":"data","required":true,"description":"Race's state change","schema":{"$ref":"#/definitions/RacingStateInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Race Response","schema":{"properties":{"data":{"$ref":"#/definitions/RacingOutput"}}}}},"description":"Changes a race's state","operationId":"changeStateRace","tags":["Race"]}},"/races/{race_id}/rounds.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Rounds Response","schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/RoundOutput"}}}}}},"description":"","operationId":"findRounds","tags":["Round"]}},"/races/{race_id}/rounds/{round_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"round_id","description":"ID of the round"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Race Response","schema":{"properties":{"data":{"$ref":"#/definitions/RoundOutput"}}}}},"description":"","operationId":"showRound","tags":["Round"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"round_id","description":"ID of the round"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"},{"in":"body","name":"data","required":true,"description":"Round's state change","schema":{"$ref":"#/definitions/RoundStateInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Match Response","schema":{"properties":{"data":{"$ref":"#/definitions/RoundOutput"}}}}},"description":"","operationId":"updateRound","tags":["Round"]}},"/races/{race_id}/rounds/{round_id}/elapsed_times.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"round_id","description":"ID of the round"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Race Times Response","schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/ElapsedTimeOutput"}}}}}},"description":"","operationId":"findElapsedTime","tags":["Elapsed Time"]}},"/races/{race_id}/rounds/{round_id}/elapsed_times/{id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"round_id","description":"ID of the round"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Elapsed Time Response","schema":{"properties":{"data":{"$ref":"#/definitions/ElapsedTimeOutput"}}}}},"description":"","operationId":"showElapsedTime","tags":["Elapsed Time"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"round_id","description":"ID of the round"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"},{"in":"body","name":"data","required":true,"description":"Elapsed Time Details to be updated","schema":{"$ref":"#/definitions/ElapsedTimeInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Elapsed Time Response","schema":{"properties":{"data":{"$ref":"#/definitions/ElapsedTimeOutput"}}}}},"description":"","operationId":"updateElapsedTime","tags":["Elapsed Time"]}},"/races/{race_id}/rounds/{round_id/elapsed_times/bulk_update.json":{"post":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"round_id","description":"ID of the round"},{"in":"path","paramType":"path","type":"string","required":true,"name":"race_id","description":"ID (recommended) or URL of the Race"},{"in":"body","name":"data","required":true,"description":"Elapsed Time Details to be updated","schema":{"$ref":"#/definitions/ElapsedTimeBulkInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Elapsed Time Response","schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/ElapsedTimeOutput"}}}}}},"description":"","operationId":"bulkUpdateElapsedTime","tags":["Elapsed Time"]}},"/communities/{community_identifier}/tournaments.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"},{"in":"query","enum":["ended","pending","in_progress"],"name":"state","type":"string","format":"string","required":false,"description":"State of the Tournament"},{"in":"query","enum":["single_elimination","double_elimination","round_robin","swiss","free_for_all","time_trail","grand_prix"],"name":"type","type":"string","format":"string","required":false,"description":"Tournament Type"},{"in":"query","name":"created_after","type":"string","format":"date_time","required":false,"description":"Tournaments created after the date given. Format should be (mm/dd/yyyy)"},{"in":"query","name":"created_before","type":"string","format":"date_time","required":false,"description":"Tournaments created before the date given. Format should be (mm/dd/yyyy)"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"type":"array","items":{"$ref":"#/definitions/TournamentModel"}}}},"description":"Returns tournaments based on the api_key given","operationId":"findCommunityTournaments","tags":["Community Tournament"]},"post":{"security":[{"api_key":[]},{"challonge_oauth":[]},{"api_key":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"body","name":"data","required":true,"description":"Tournament to be created","schema":{"$ref":"#/definitions/TournamentInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"201":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Creates a tournament","operationId":"createCommunityTournament","tags":["Community Tournament"]}},"/communities/{community_identifier}/tournaments/{tournament_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Gets a tournament","operationId":"showCommunityTournament","tags":["Community Tournament"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Tournament Details to be updated","schema":{"$ref":"#/definitions/TournamentInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Updates a tournament","operationId":"updateCommunityTournament","tags":["Community Tournament"]},"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"403":{"description":"403 Forbidden","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"204":{"description":"API Response when the tournament is deleted","schema":{}}},"description":"Deletes a tournament","operationId":"deleteCommunityTournament","tags":["Community Tournament"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/change_state.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Tournament's state change","schema":{"$ref":"#/definitions/TournamentStateInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Response","schema":{"$ref":"#/definitions/TournamentModel"}}},"description":"Changes a tournament's state","operationId":"changeStateCommunityTournament","tags":["Community Tournament"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/matches.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"},{"in":"query","enum":["pending","open","complete"],"name":"state","type":"string","format":"string","required":false,"description":"State of the Matches"},{"in":"query","name":"participant_id","type":"string","format":"string","required":false,"description":"Filter matches by Participant Id"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Matches Response","schema":{"type":"array","items":{"$ref":"#/definitions/MatchModel"}}}},"description":"Returns matches based on the tournament ID given","operationId":"findCommunityMatches","tags":["Community Match"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/matches/{id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Matches Response","schema":{"$ref":"#/definitions/MatchModel"}}},"description":"Returns a match based on the Match ID given","operationId":"showCommunityMatch","tags":["Community Match"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"in":"body","name":"data","required":true,"description":"Match to be Updated","schema":{"$ref":"#/definitions/MatchInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Tournament Matches Response","schema":{"$ref":"#/definitions/MatchModel"}}},"description":"Updates a match with scores","operationId":"updateCommunityMatch","tags":["Community Match"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/change_stage.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramtype":"path","type":"string","required":true,"name":"match_id","description":"ID of the match"},{"in":"body","name":"data","required":true,"description":"Match's state change","schema":{"$ref":"#/definitions/MatchStateInput"}}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Match Response","schema":{"$ref":"#/definitions/MatchModel"}}},"description":"Changes a tournament's state","operationId":"changeStateTournament","tags":["Community Match"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/participants.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"page","default":"1","description":"Number of the page"},{"in":"query","paramType":"query","type":"integer","format":"string","required":false,"name":"per_page","default":"25","description":"Number of collection members per page"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Returns participants based on the tournament ID given","operationId":"findCommunityParticipants","tags":["Community Participant"]},"post":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Participant to be created","schema":{"$ref":"#/definitions/ParticipantInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Creates a Participant","operationId":"createCommunityParticipant","tags":["Community Participant"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/participants/{participant_id}.json":{"get":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"header","paramType":"header","type":"string","name":"If-None-Match","description":"Used as caching key for future response"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramType":"path","type":"string","required":true,"name":"participant_id","description":"ID of the Participant"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"$ref":"#/definitions/ParticipantModel"}}},"description":"Show a Participant","operationId":"showCommunityParticipant","tags":["Community Participant"]},"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramType":"path","type":"string","required":true,"name":"participant_id","description":"ID of the Participant"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"$ref":"#/definitions/ParticipantModel"}}},"description":"Updates a Participant","operationId":"updateCommunityParticipant","tags":["Community Participant"]},"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"path","paramType":"path","type":"string","required":true,"name":"participant_id","description":"ID of the Participant"}],"responses":{"404":{"description":"404 Not Found","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"API Response when the participant is deactivated","schema":{"$ref":"#/definitions/ParticipantModel"}},"204":{"description":"API Response when the participant is deleted","schema":{}}},"description":"Deletes a Participant","operationId":"deleteCommunityParticipant","tags":["Community Participant"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/participants/bulk_add.json":{"post":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"},{"in":"body","name":"data","required":true,"description":"Participants to be created","schema":{"$ref":"#/definitions/ParticipantBulkInput"}}],"responses":{"400":{"description":"400 Bad Request","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"200":{"description":"Participant Response","schema":{"type":"array","items":{"$ref":"#/definitions/ParticipantModel"}}}},"description":"Bulk Creates a Participant","operationId":"bulkCommunityCreateParticipant","tags":["Community Participant"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/participants/clear.json":{"delete":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2's oAuth2 authentication method, use, change this to `v2`"},{"in":"path","paramType":"path","type":"string","required":true,"name":"community_identifier","description":"ID of the Community"},{"in":"path","paramType":"path","type":"string","required":true,"name":"tournament_id","description":"ID (recommended) or URL of the Tournament"}],"responses":{"401":{"description":"401 Unauthorized","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"406":{"description":"406 Not Acceptable","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"415":{"description":"415 Unsupported Media Type","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"422":{"description":"422 Unprocessable Entity","schema":{"type":"array","items":{"type":"object","$ref":"#/definitions/ErrorModel"}}},"204":{"description":"API Response when the participants are deleted","schema":{}}},"description":"Clears all Participants","operationId":"clearAllCommunityParticipants","tags":["Community Participant"]}},"/communities/{community_identifier}/tournaments/{tournament_id}/participants/randomize.json":{"put":{"security":[{"api_key":[]},{"challonge_oauth":[]}],"parameters":[{"in":"header","paramType":"header","type":"string","required":true,"name":"Content-Type","default":"application/vnd.api+json","description":"Default value for `Content-Type` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Accept","default":"application/json","description":"Default value for `Accept` header"},{"in":"header","paramType":"header","type":"string","required":true,"name":"Authorization-Type","default":"v1","description":"Default value for `Authorization-Type` header. If you want to use APIv2
[...]
